*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.fundo-video{
    width: 100%;
    height: 100vh;
   /* background-image: linear-gradient(rgb(12,3,51,0.3), rgb(12,3,51,0.3));*/
   background-image: linear-gradient(black, black);
   /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative;*/
}

.video{
    width: 100%;
   

}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    
}

.logo{
    width: 40px;
    margin-left: 30px;

}

.menu{
    
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  margin: 30px;
  
    
   
}

.menu li {
    display: inline-block;
    margin: 0 20px;
}


.menu li:hover{
    color: red;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;

    padding: 10px;
}

.container{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    width: 100%;
    margin: 20px auto;
}

.imagem-titulo{
    width: 50%;
    margin-left: 30px;
}

.descricao{
    text-align: justify;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 30px;
    color: white;
    font-weight: 400;
    
}

.botao-trailer{
    margin: 20px 40px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid red;

    
}

 a{
    text-decoration: none;
    color: white;
}

.mario{
    width: 30%;
    margin-right:  60px;
}

.trailer{
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black, black);
}

.trailer-video{
   
    width: 100%;
    height: 100%;
}

.teste{
    background-color: rgba(0, 0, 0, 0.466);
    position: fixed;
    
}