/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    background-color: black;
}

.fundo-video{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(black, black);
   
}

.video{
    width: 100%;
   

}
.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    
}

.cabecalho .logo{
    width: 65px;
    

}

.cabecalho .menu{
    
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
 
  
    
   
}




.menu li:hover{
    color: red;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;

    padding: 10px;
}

.container{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    width: 100%;
    margin: 20px auto;
}

.imagem-titulo{
    width: 50%;
    margin-left: 30px;
}

.descricao{
    text-align: justify;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 30px;
    color: white;
    font-weight: 400;
    
}

.botao-trailer{
    margin: 20px 40px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid red;

    
}

 a{
    text-decoration: none;
    color: white;
}

.mario{
    width: 30%;
    margin-right:  60px;
}

.trailer{
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black, black);
}

.trailer-video{
   
    width: 100%;
    height: 100%;
}

.teste{
    background-color: rgba(0, 0, 0, 0.466);
    position: fixed;
    
}*/

body{
    font-family: 'Poppins';

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    
    
    
}

.cabecalho .logo{
    width: 65px;
    

}

.cabecalho .menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    
    
}

a{
    text-decoration: none;
    color: white;
}

.cabecalho nav li a {
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;

}

.cabecalho nav li a:hover{
    background-color: #d5011d;
}


.container{
    background-color: orange;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.container .imagem-titulo{
    max-width: 500px;

}

.container .descricao{
    color: #a8add7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer{
    background-color: #ff0021;
    color: white;
    padding: 15px;
    font-size: 18px;
}