@charset "UTF-8";

/*
#C5EBD6
#83E1AD
#3DDC84
#2FA866
#063D1E
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family:'Android' ;
    src:url( '../fontes/idroid.otf') format('opentype');
    font-weight: normal;
} 

:root{
   --cor0:#ebe5c5;
   --cor01:#83E1AD;
   --cor02:#3DDC84;
   --cor03:#2FA866;
   --cor04:#1a5c37;
   --cor05:#063D1E;

   --font-padrao: arial, verdana, helvetica, sans-serif;
   --font-destaque: 'Bebas Neue','cursive';
   --font-android:'Android', 'cursive';
  
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor0) ;
    font-family: var(--font-padrao);
}

a.externo::after{
    content: '00A0\1F517';
   
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    background-color: var(--cor05);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
   
    
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px,2px.0px rgba(0, 0, 0, 0.485);
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.1em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px; ;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px,2px.0px rgba(0, 0, 0, 0.485);
    
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px, 7px, 7px rgba(0, 0, 0, 0.45);
}

nav > a{
    color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;

}

nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    padding: 5px;

}

main{
    min-width:300px ;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color:white;
    box-shadow: 0px,0px,10px rgba(0, 0, 0, 0.367);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
}

main h1{
    color: var(--cor05);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8;
}

main h2{
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to  right, var(--cor02), transparent  );
    text-indent: 8px;
   

}



main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;

}

main strong{
    color: var(--cor04);
    font-weight: bold;
    

}

main a{
    text-decoration: none;
    font-weight:bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;

}

main a:hover{
    text-decoration: none;
    color: var(--cor04);
}

main img{
    width: 100%;
}

main img.pequena{

    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{

    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px,0px,10px rgba(0, 0, 0, 0.367);
} 

aside > h3{
     background-color: var(--cor04);
     color: white;
    padding: 10px;
    margin: -10px -10px 0px 0px;
    border-radius: 10px 10px 0px 0px ;
    

}


aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    

}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  

}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1); 
}