@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

body{
    background-color: rgb(241, 238, 238)
}



header{
   width: 100vw;
    background: rgba(0, 0, 0, 0.952);
    position: fixed;
    padding-right: 30px ;
    

}

nav{
    padding: 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 15px;


}

.cor{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: -3px  -2px  40px rgb(255, 174, 0);
    font-family: 'Poppins', sans-serif;

  

}

.cor a  {
    text-decoration: none;
    color: white;
}

.cor :hover{
    font-weight: bold;
    color: rgb(255, 214, 125);
    
    

   
}

.cor-link{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;


  
}

.background{
    background-image:  url('../assets/img-2.jpg' )  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    background-position:   center;
    background-color: rgba(51, 27, 27, 0.534);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.banner  {
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 0 auto;

    
    
}

.banner h1{
    font-size: 4em;
    text-align: center;
    margin: 60px auto;

    
    
}

.banner p{
    font-size: 1.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 45px;
    padding: 10px 20px;
    margin:60px auto;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.seta{
    
    text-align: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.seta img{
    width: 40px;
    
}



.pesquisa{
    background: rgb(241, 238, 238);
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
    
}

.pesquisa p{
    padding: 20px 40px;
    
    
}
.pesquisa img{
    width: 20px;
    margin-right: 20px;
   
}


.card{
    background: rgb(241, 238, 238);
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}

.card .produto {
   
    

    background: rgb(241, 238, 238);
    width: 300px;
    
    margin: 20px 20px ;
    border: 1px solid white;
    border-radius: 5px ;
    box-shadow: -1px 1px 40px 2px rgb(168, 167, 167);
}

.produto img{
   width: 300px;
   margin-bottom: 30px;


}

.texto{
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    padding: 50px;
   
}

.texto h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.texto p {
    margin: 10px;
}

.texto span{
    font-family: 'Bebas Neue', cursive;
    color: rgb(37, 121, 16);
    font-size: larger;
    font-weight: 500;
}

.botao {
    
    margin-top: 30px;
    background-color:  rgb(247, 94, 6);
    border: 2px solid   rgb(247, 94, 6);
    border-radius: 25px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    
}



.botao:hover{
    color: rgb(0, 0, 0);

}



footer{  
    margin: 0;
    padding: 0;
  /*  margin-top: 200px ;*/
    height: 25%;
    background-color: rgb(54, 54, 54);
}

footer ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 30px ;
    padding: 50px 0;
}


